<section class="search">
  <div class="search__container">
    <form class="search__form" id="search__form">
      <input
        class="search__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button class="search__submit-button" type="submit">
        <svg class="icon-btn" width="16" height="16" fill="#222222">
          <use href="./images/icon.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</section>
